.js .anime-first {
	opacity: 0;
	transform: translate3D(0px, 0px, 0px);
    scale: 0.98;
	transition: .5s all ease-in-out;
}

.js .anime-init-first {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
    scale: 1;
	transition: .5s all ease-in-out;
}

.js .anime-second {
	opacity: 0;
	transform: translate3D(0px, 0px, 0px);
    scale: 0.98;
	transition: .5s all ease-in-out;
}

.js .anime-init-second {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
    scale: 1;
	transition: 1s all ease-in-out;
}