@media (min-width:0px){

    .botao__default{
        font-family: var(--MontrealMedium);
        font-size: var(--font-14);
        color: var(--branco);

        background-color: var(--primario-verde);

        padding-top: 1.095rem;
        padding-right: 2.063rem;
        padding-left: 2.063rem;
        padding-bottom: 1.095rem;

        border-radius: 90px;
        border: none;

        transition: all .2s ease-in-out;
    }
    .botao__default:hover{
        background-color: var(--secundario-verde);

        transition: all .2s ease-in-out;
    }
    
}

@media (min-width:0px) and (max-width:1024px){
    .botao__default{

        padding-top: 1.38rem;
        padding-bottom: 1.38rem;

    }
}