@media (min-width:0px) and (max-width:1024px){
    /*------------Cabecalho-------------*/
    #links__cabecalho__desktop{
        display: none;
    }
    #logo__desktop{
        display: none;
    }
    #logo__mobile{
        display: flex;
    }
    .cabecalho{
        padding-left: 1.563rem;
        padding-right: 1.563rem;
    }
    .container__botao__mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        border: none;
        background-color: transparent;
    }
    .secao__banner{
        background-size: cover;
        background-position: center;
        background-image: url("../../../Assets/Imagens/Imagem/ImagemBannerMobile.png");
        background-repeat: no-repeat;
    }
    .secao__conteudo__banner{
        padding-top: 7.625rem;
        padding-left: 1.563rem;
        padding-right: 1.563rem;

        flex-direction: column;
        gap: 2.188rem;
    }
    .titulo__conteudo__banner{
        font-size: 70px;
    }
    #titulo__conteudo__right{
        text-align: right;
    }
    .container__banner__botao__mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;

        margin-top: 4.375rem;
        margin-bottom: 5rem;
    }
    .botao__banner__mobile{
        width: 90vw;
        font-size: 13px;
    }
    /*-------------MENU-MOBILE-----------*/
    .secao__menu__aberto__mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.281rem;
        padding-bottom: 1.281rem;
        padding-left:  1.563rem;
        padding-right:  1.563rem;


        position: fixed;
        top: -1rem;

        width: 100vw;
        height: 100vh;

        background-color: black;
        z-index: 30000;

        visibility: hidden;
        opacity: 0;

        transition: all .2s ease-in-out;
    }
    .secao__cabecalho__menu__mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90vw;
    }
    .botao__fecha__menu__mobile{
        background-color: transparent;
        color: none;
        border: none;
        width: 3rem;
    }
    .secao__links__menu__mobile{
        display: flex;
        flex-direction: column;
        width: 90vw;
        align-items: flex-start;
    }
    .lista__links__menu__mobile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
    }
    .botao__menu__aberto{
        width: 90vw;
    }
    /*---------------Sobre------------*/
    .secao__sobre{
        padding-top: 4.375rem;
        padding-left: 1.563rem;
        padding-right: 1.563rem;
        flex-direction: column;
        gap: 3.125rem;
        justify-content: flex-start;

    }
    .secao__titulo__sobre{
        width: 90vw;
        gap: 1.875rem;
    }
    .secao__texto__sobre{
        margin-top: 0%;
        width: 90vw;
    }
    .texto__sobre{
        line-height: 41px;
    }
    /*---------------Como----------------*/
    .secao__nos{
        padding-top: 4.375rem;
    }
    .imagem__como{
        display: none;
    }
    .secao__container__nos{
        width: 100vw;
 
    }
    .secao__conteudo__nos{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .secao__texto__conteudo__nos{
        width: 90vw;
        padding-top: 4.375rem;
        padding-right: 0%;

    }
    .container__texto__conteudo__nos{
        margin-bottom: 3.125rem;
    }
    .item__lista__texto__conteudo_nos{
        flex-direction: column;
    }
    .borda__top{
        border: none;
    }
    .borda__bottom{
        border: none;
    }
    .titulo__item__lista__texto__conteudo__nos{
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
        width: 90vw;
    }
    .descricao__item__lista__texto__conteudo__nos{
        padding-top: 0rem;
        padding-bottom: 1.875rem;
        width: 90vw;
    }
    .botao__conteudo__nos{
        display: none;
    }
    .container__nos__botao__mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-bottom: 4.125rem;
    }
    .botao__nos__mobile{
        width: 90vw;
        font-size: 13px;
    }
    .secao__conteudo__rodape__nos{
        gap: 1.875rem;
    }
    .descricao__conteudo__rodape__nos{
        width: 90vw;
        font-size: 20px;
    }
    .botao__conteudo__rodape__nos{
        display: none;
    }
    .botao__play__video{
        display: none;
    }
    .secao__lista__conteudo__video{
        width: 90vw;
        overflow-x: scroll;
        align-items: flex-start;
    }
    .secao__lista__conteudo__video::-webkit-scrollbar-track {
        background: transparent;
        display: none;   /* color of the tracking area */
    }
      
    .secao__lista__conteudo__video::-webkit-scrollbar{
        display: none;
    }
    .lista__conteudo__video{
        width: 205vw;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3.313rem;
    }
    .item__lista__conteudo__video{
        width: 90vw;
    }
    .secao__video{
        padding-bottom: 4.401rem;
    }
    /*----------------Aprenda--------------*/
    .secao__cabecalho__aprenda {
        padding-top: 4.375rem;
        gap: 1.875rem;
    }
    .descricao__cabecalho__aprenda{
        width: 90vw;
    }
    .lista__noticias__aprenda{
        flex-direction: column;
        margin-top: 3.125rem;
    }
    .item__noticias__aprenda{
        width: 90vw;
        background-size: cover;
    }
    .botao__item__noticias__aprenda{
        width: 76vw;
    }
    .vetor__seta__aprenda{
        width: 5.563rem;
    }
    .secao__container__modal__noticias{
        width: 90vw;
        height: 90vh;
    }
    .secao__conteudo__modal__noticias{
        padding-left: 2.188rem;
    }
    .container__texto__modal__noticias{
        padding-right: 2.188rem;
    }

    /*------------------Faq------------------*/
    .secao__faq{
        margin-top: 4rem;
    }
    .secao__cabecalho__faq{
        flex-direction: column;
        align-items: flex-start;
        gap: 2.063rem;
        width: 90vw;
    }
    .descricao__cabecalho__faq{
        width: 73vw;
        font-family: var(--MontrealRegular);
    }
    .titulo__cabecalho__faq{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        align-self: flex-end;
    }
    .lista__faq{
        padding-top: 2.125rem;
        width: 90vw;
    }
    .botao__lista__faq{
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
        padding-right: 3rem;
        align-items: flex-start;
        text-align: left;

    }
    .descricao__lista__faq{
        width: 90vw;
    }
    .conteudo__lista__faq{
        width: 90vw;
    }
    /*---------------Contato-------------*/
    .secao__contato{
        padding-top: 2.75rem;
        padding-bottom: 4.375rem;
        gap: 4.375rem;
    }
    .secao__banner__contato{
        width: 100vw;
        height: auto;
        padding-left: 1.625rem;
        padding-right: 1.625rem;
        padding-bottom: 2.25rem;
        padding-top: 3rem;

        flex-direction: column;
        align-items: center;
        gap: 1.875rem;
    }
    .container__banner__contato{
        width: 90vw;
        gap: 1.75rem;
    }
    .titulo__banner__contato{
        font-family: var(--MontrealRegular);
    }
    .botao__contato{
        width: 90vw;
    }
    .secao__form__contato{
        width: 90vw;
        flex-direction: column;
        gap: 3.125rem;
    }
    .descricao__form__contato{
        padding-left: 0%;
        width: 92vw;
    }
    .form__contato{
        flex-direction: column;
        gap: 3.125rem;
    }
    .input__form__contato{
        width: 90vw;
        position: static;
    }
    #button__black{
        width: 90vw;
        position: static;
    }
    /*---------------Rodape------------*/
    .rodape{
        padding-top: 4.625rem;
    }
    .container__info__rodape{
        flex-direction: column-reverse;
    }
    .secao__conteudo__rodape{
        padding-top: 0%;
        padding-bottom: 4.375rem;
        flex-direction: column;
        width: 90vw;
    }
    .titulo__conteudo__rodape{
        font-size: 70px;
    }
    .titulo__conteudo__rodape:nth-child(2){
        align-self: flex-end;
        text-align: right;
    }
    .secao__cabecalho__rodape{
        width: 90vw;
        flex-direction: column-reverse;
        gap: 4.375rem;
    }
    .secao__botoes__rodape{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.563rem;
    }
    .botao__rodape{
        width: 90vw;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .secao__links__cabecalho{
        align-self: flex-start;
    }
    .lista__links__cabecalho{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1.25rem;
    }
    .link__cabecalho{
        font-family: var(--MontrealRegular);
        font-size: 22px;
    }
    .secao__copyright{
        border: none;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 4.375rem;
        margin-bottom: 3.438rem;
        margin-top: 4.375rem;
        padding-bottom: 0%;
    }
}

