
@media (min-width:0px){
    .main{
        border: none;
    }
    /*-----------------Banner----------------*/
    #logo__mobile{
        display: none;
    }
    .secao__banner{
        display: flex;
        flex-direction: column;

        width: 100vw;
        height: auto;

        background-image: url("../../../Assets/Imagens/Imagem/ImagemBanner.png");
        background-repeat: no-repeat;
        background-size: cover;

        padding-bottom: 2.125rem;

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding-top: 2.688rem;
        padding-left: 3.75rem;
        padding-right: 3.75rem;

        background-color: transparent;
        border: none;

        width: 100vw;
    }
    .secao__links__cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .lista__links__cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.875rem;
    }
    .link__cabecalho{
        font-family: var(--MontrealMedium);
        font-size: var(--font-14);
        font-weight: 500;

        transition: all .15s ease-in-out;
    }
    .link__cabecalho:hover{
        color:#A4A4A4;

        transition: all .15s ease-in-out;
    }
    .secao__botoes__cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.563rem;
    }
    .link__botoes__cabecalho{
        font-family: var(--MontrealMedium);
        font-size: var(--font-14);

        transition: all .15s ease-in-out;

    }
    .link__botoes__cabecalho:hover{
        color:#A4A4A4;

        transition: all .15s ease-in-out;
    }
    .container__botao__mobile{
        display: none;
    }
    .container__banner__botao__mobile{
        display: none;
    }
    .container__nos__botao__mobile{
        display: none;
    }
    .secao__conteudo__banner{
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: space-between;
        padding-top: 20.563rem;
        padding-left: 3.75rem;
        padding-right: 3.75rem;

        gap: 2.313rem;
    }
    .titulo__conteudo__banner{
        font-family: var(--MontrealRegular);
        font-size: 95px;
        color: var(--primario-amarelo);
        font-weight: 400;
    }
    
    .container__botao__explore{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: 1.313rem;
    }
    .titulo__botao__explore{
        font-family: var(--MontrealMedium);
        font-size: var(--font-12);

        color: var(--branco);
    }
    .seta__explore{
        position: relative;
        display: flex;

        transition: all .2s ease-in-out;
        animation: .7s ease-in-out infinite alternate animaSetaExplore;
    }
    @keyframes animaSetaExplore {
        from{
            top: 0rem;
        }
        to{
            top: 1rem;
        }
    }
    
    /*---------------Sobre--------------*/
    .secao__sobre{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding-top: 6.875rem;
        padding-left: 3.75rem;
        padding-right: 3.75rem;
    }
    .secao__titulo__sobre{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.75rem;

        width: 25rem;
    }
    .titulo__sobre{
        font-family: var(--MontrealMedium);
        font-size: 25px;
        font-weight: 500;
        margin: 0%;
    }
    .descricao__sobre{
        font-family: var(--MontrealRegular);
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;

        margin: 0%;

        color: #6A6A6A;
    }
    .secao__texto__sobre{
        width: 35.688rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 5.75rem;
    }
    .texto__sobre{
        margin: 0%;
        font-family: var(--MontrealRegular);
        font-size: 25px;
        font-weight: 500;
        line-height: 48px;
    }
    /*------------------nos----------------*/
    .secao__nos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;

        padding-top: 7.313rem;

    }
    .secao__container__nos{
        display: flex;
        flex-direction: column;
        width: 91vw;


        border-radius: 15px 15px 0px 0px;
    }
    .secao__conteudo__nos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;

        background-color: #F4F2EC;

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .imagem__nos{
        width: 47%;
    }
    .secao__texto__conteudo__nos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 47%;

        padding-top: 5rem;
        padding-right: 3.75rem;
        padding-bottom: 2.438rem;
    }
    .container__texto__conteudo__nos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.813rem;
        margin-bottom: 4.063rem;
    }
    .titulo__texto__conteudo__nos{
        font-family: var(--MontrealMedium);
        font-size: 25px;
        font-weight: 500;
        margin: 0%;
    }
    .descricao__texto__conteudo__nos{
        font-family: var(--MontrealRegular);
        font-size: 18px;
        font-weight: 500;

        margin: 0%;

        color: #6A6A6A;
    }
    .lista__texto__conteudo__nos{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .item__lista__texto__conteudo_nos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
        
        
    }
    .titulo__item__lista__texto__conteudo__nos{
        font-family: var(--MontrealRegular);
        font-size: 20px;
        font-weight: 500;
        line-height: 35px;
        margin: 0%;
        width: 40%;

        padding-top: 1.75rem;
        padding-bottom: 5.625rem;
    }
    .descricao__item__lista__texto__conteudo__nos{
        font-family: var(--MontrealMedium);
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;

        margin: 0%;

        color: #6A6A6A;
        width: 45%;

        padding-top: 1.75rem;
        padding-bottom: 1.625rem;
    }
    .borda__bottom{
        border-bottom: 0.7px solid #717171;
    }
    .borda__top{
        border-top: 0.7px solid #717171;
    }
    .botao__conteudo__nos{
        border-radius: 15px;
        position: relative;
        top: -1rem;
    }
    .secao__rodape__nos{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        width: 91vw;

        padding-top: 4.5rem;
        padding-bottom: 3.75rem;

        border-bottom: 0.7px solid #717171;
    }
    .secao__conteudo__rodape__nos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.75rem;
    }
    .titulo__conteudo__rodape__nos{
        font-family: var(--MontrealRegular);
        font-size: 25px;
        margin: 0%;
    }
    .descricao__conteudo__rodape__nos{
        font-family: var(--MontrealRegular);
        font-size: 18px;
        line-height: 26px;
        margin: 0%;

        color: #6A6A6A;

        width: 39.313rem;
    }
    /*---------------Video---------------*/
    .secao__video{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100vw;

        padding-top: 3.75rem;
        padding-bottom: 6.875rem;
        
    }
    .secao__lista__conteudo__video{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 91vw;

        margin-bottom: 3.5rem;
    }
    .lista__conteudo__video{
        display: flex;
        flex-direction: row;
        align-items: top;
        width: 91vw;
        justify-content: space-between;
    }
    .item__lista__conteudo__video{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        width: 23vw;
    }
    .titulo__item__lista__video{
        font-family: var(--MontrealMedium);
        font-size: 20px;
        margin: 0%;
    }
    .descricao__item__lista__video{
        font-family: var(--MontrealRegular);
        font-size: 18px;
        line-height: 26px;
        margin: 0%;

        color: #6A6A6A;
    }
    .container__video{
        display: flex;
        flex-direction: column;
    }
    .video{
        width: 91vw;
    }
    .botao__play__video{
        display: flex;
        width: 5.337rem;

        position:relative;
        top: -25rem;
        right: -48%;

        background-color: transparent;
        border: none;
    }
    /*---------------Aprenda-------------*/
    .secao__aprenda{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .secao__cabecalho__aprenda{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.75rem;
        width: 91vw;

        padding-top: 6.875rem;

        border-top: 0.7px solid #717171;
    }
    .titulo__cabecalho__aprenda{
        font-family: var(--MontrealRegular);
        font-size: 25px;
        margin: 0%;
    }
    .descricao__cabecalho__aprenda{
        font-family: var(--MontrealRegular);
        font-size: 18px;
        line-height: 26px;
        margin: 0%;

        color: #6A6A6A;

        width: 39.313rem;
    }
    .lista__noticias__aprenda{
        display: flex;
        flex-direction: row;
        align-items: top;
        gap: 1.125rem;

        margin-top: 3.75rem;
    }
    .item__noticias__aprenda{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 28.563rem;
        width: 29.5vw;

        padding: 1.4rem 1.938rem;

        background-repeat: no-repeat;
        background-position: center;
    }
    .botao__item__noticias__aprenda{
        font-family: var(--MontrealRegular);
        font-size: 20px;
        line-height: 20px;
        margin: 0%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 24vw;
        height: 2.5rem;
    }
    .vetor__seta__aprenda{
        width: 4.563rem;
    }
    #modelo__negocio{
        background-image: url("../../../Assets/Imagens/Imagem/ImagemModeloNegocio.png");
    }
    #dados{
        background-image: url("../../../Assets/Imagens/Imagem/ImagemDados.png");
    }
    #projetos{
        background-image: url("../../../Assets/Imagens/Imagem/ImagemProjetos.png");
    }
    /*-----------------FAQ---------------*/
    .secao__faq{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;

        margin-top: 8.75rem;
    }
    .secao__cabecalho__faq{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 91vw;
    }
    .descricao__cabecalho__faq{
        font-family: var(--MontrealMedium);
        font-size: 25px;
        line-height: 40px;
        margin: 0%;

        color: var(--preto);

        width: 35.688rem;
    }
    .titulo__cabecalho__faq{
        font-family: var(--MontrealMedium);
        font-size: 60px;
        margin: 0%;
    }
    .lista__faq{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 91vw;

        padding-top: 3.75rem;
    }
    .item__lista__faq{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 91vw;

        
        border-bottom: 0.7px solid #717171;
    }
    .item__lista__faq:nth-child(1){
        border-top: 0.7px solid #717171;
    }
    .botao__lista__faq{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 91vw;

        background-image: url("../../../Assets/Imagens/Vetor/VetorAccordionFechado.svg");
        background-position: 100%;
        background-repeat: no-repeat;

        padding-top: 2.313rem;
        padding-bottom: 2.313rem;
        padding-left: 0%;
        padding-right: 0%;

        background-color: transparent;
        border: none;

        font-family: var(--MontrealRegular);
        font-size: 25px;
        line-height: 40px;
        margin: 0%;

        color: var(--preto);

        transition: all .2s ease-in-out;
    }
    .active__button__faq{
        background-image: url("../../../Assets/Imagens/Vetor/VetorAccordionAberto.svg");

        transition: all .2s ease-in-out;
    }
    .conteudo__lista__faq{
        display: none;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        width: 91vw;

        transition: all .2s ease-in-out;

        padding-bottom: 1.5rem;
    }
    .descricao__lista__faq{
        width: 39.313rem;

        font-family: var(--MontrealRegular);
        font-size: 18px;
        line-height: 33px;
        margin: 0%;

        color: #6A6A6A;
    }
    /*----------------Form----------------*/
    .secao__contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4.875rem;
        width: 100vw;

        padding-top: 8.75rem;
        padding-bottom: 9.625rem;

        background-image: url("../../../Assets/Imagens/Imagem/BackgroundFale.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 19rem;
        background-position-x: 0;
    }
    .secao__banner__contato{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        padding: 3.563rem;

        width: 80vw;
        height: 32.625rem;

        background-image: url("../../../Assets/Imagens/Imagem/ImagemFale.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        border-radius: 15px 15px 0px 0px;
    }
    .container__banner__contato{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.188rem;

        width: 31vw;

        
    }
    .titulo__banner__contato{
        font-family: var(--MontrealMedium);
        font-size: 25px;
        line-height: 40px;
        margin: 0%;

        color: var(--branco);
    }
    .descricao__banner__contato{
        font-family: var(--MontrealRegular);
        font-size: 60px;
        line-height: 65px;
        margin: 0%;

        color: var(--branco);
    }
    .secao__form__contato{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 71vw;
    }
    .descricao__form__contato{
        font-family: var(--MontrealMedium);
        font-size: 25px;
        margin: 0%;

        color: var(--preto);

        width: 31vw;
    }
    .form__contato{
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    .input__form__contato{
        font-family: var(--GraphikBold);
        font-size: var(--font-12);
        font-weight: var(--semi-bold);
        line-height: var(--line-25);
        color: #A4A4A4;

        background-color: var(--branco);

        padding-top: 1rem;
        padding-right: 10rem;
        padding-left: 2.063rem;
        padding-bottom: 1rem;

        border-radius: 90px;
        border: none;

        transition: all .2s ease-in-out;
    }
    #button__black{
      background-color: var(--preto);
      position: relative;
      display: flex;
      left: -4.5rem;

    }
    /*---------------Rodape--------------*/
    .rodape{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100vw;

        background-color: var(--preto);

        padding-top: 5rem;
    }
    .secao__conteudo__rodape{
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: space-between;
        padding-top: 7.75rem;
        padding-bottom: 9.25rem;

        gap: 2.313rem;

        width: 91vw;
    }
    .titulo__conteudo__rodape{
        font-family: var(--MontrealRegular);
        font-size: 95px;
        color: var(--primario-amarelo);
        font-weight: 400;
    }
    .secao__cabecalho__rodape{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 91vw;
    }
    .secao__copyright{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 91vw;

        padding-bottom: 1.875rem;
        margin-bottom: 4.688rem;

        border-bottom: 1px solid #F2F2F2;
    }   
    .lista__links__rodape{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .link__rodape{

    }
    
}
@media (min-width:1440px){
    .botao__item__noticias__aprenda{
        width: 23.375rem;
    }
}