@media (min-width:0px) and (max-width:1024px){
    /*------------Cabecalho-------------*/
    #links__cabecalho__desktop{
        display: none;
    }
    #logo__desktop{
        display: none;
    }
    #logo__mobile{
        display: flex;
    }
    .cabecalho{
        padding-left: 1.563rem;
        padding-right: 1.563rem;
    }
    .container__botao__mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .secao__banner{
        background-size: cover;
        background-position: center;
        background-image: url("../../../Assets/Imagens/Imagem/ImagemBannerMobile.png");
        background-repeat: no-repeat;
    }
    .secao__conteudo__banner{
        padding-top: 3.625rem;
        padding-left: 1.563rem;
        padding-right: 1.563rem;

        flex-direction: column;
        gap: 2.188rem;
    }
    .titulo__conteudo__banner{
        font-size: 70px;
    }
    #titulo__conteudo__right{
        text-align: right;
    }
    .container__banner__botao__mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;

        margin-top: 4.375rem;
        margin-bottom: 5rem;
    }
    .botao__banner__mobile{
        width: 90vw;
        font-size: 13px;
    }
    /*---------------Sobre------------*/
    .secao__sobre{
        padding-top: 4.375rem;
        padding-left: 1.563rem;
        padding-right: 1.563rem;
        flex-direction: column;
        gap: 3.125rem;
        justify-content: flex-start;

    }
    .secao__titulo__sobre{
        width: 90vw;
        gap: 1.875rem;
    }
    .secao__texto__sobre{
        margin-top: 0%;
        width: 90vw;
    }
    .texto__sobre{
        line-height: 41px;
    }
    /*---------------Como----------------*/
    .imagem__como{
        display: none;
    }
    .secao__container__nos{
        width: 100vw;
 
    }
    .secao__conteudo__nos{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .secao__texto__conteudo__nos{
        width: 90vw;
        padding-top: 4.375rem;
        padding-right: 0%;

    }
    .container__texto__conteudo__nos{
        margin-bottom: 3.125rem;
    }
    .item__lista__texto__conteudo_nos{
        flex-direction: column;
    }
    .borda__top{
        border: none;
    }
    .borda__bottom{
        border: none;
    }
    .titulo__item__lista__texto__conteudo__nos{
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
        width: 90vw;
    }
    .descricao__item__lista__texto__conteudo__nos{
        padding-top: 0rem;
        padding-bottom: 1.875rem;
        width: 90vw;
    }
    .botao__conteudo__nos{
        display: none;
    }
    .container__nos__botao__mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-bottom: 4.125rem;
    }
    .botao__nos__mobile{
        width: 90vw;
        font-size: 13px;
    }
    .secao__conteudo__rodape__nos{
        gap: 1.875rem;
    }
    .descricao__conteudo__rodape__nos{
        width: 90vw;
        font-size: 20px;
    }
    .botao__conteudo__rodape__nos{
        display: none;
    }
    .botao__play__video{
        display: none;
    }
    .secao__lista__conteudo__video{
        width: 90vw;
        overflow-x: scroll;
        align-items: flex-start;
    }
    .lista__conteudo__video{
        width: 205vw;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3.313rem;
    }
    .item__lista__conteudo__video{
        width: 90vw;
    }
}