:root{
    --MontrealBold: 'MontrealBold', sans-serif;
    --MontrealMedium: 'MontrealMedium', sans-serif;
    --MontrealRegular: 'MontrealRegular', sans-serif;
    --MontrealThin: 'MontrealThin', sans-serif;

    --GraphikBold: 'GraphikBold', sans-serif;
    --GraphikMedium: 'GraphikMedium', sans-serif;
    --GraphikRegular: 'GraphikRegular', sans-serif;
    --GraphikSemiBold: 'GraphikSemiBold', sans-serif;

    --bold: 700;
    --semi-bold: 600;
    --medium: 500;
    --regular: 400;
    --light: 300;

    --primario-amarelo: #FFD233;
    --primario-verde: #064A3C;

    --secundario-verde: #021E18;

    --branco: #FFFFFF;
    --preto:  #000000;
    
    --line-16: 16px;
    --line-17: 17px;
    --line-20: 20px;
    --line-25: 25px;
    --line-28:  28px;
    --line-37:  37px;
    --line-40:  40px;
    --line-48:  48px;
    --line-63:  63px;
    --line-73: 73px;
    
    --font-12: 12px;
    --font-14: 14px;
    --font-16: 16px;
    --font-18: 18px;
    --font-24: 24px;
    --font-30: 30px;
    --font-40: 40px;
    --font-50: 50px;
    --font-60: 60px;
}
body a{
    color: #FFFFFF;
}
body{
    scroll-behavior: smooth;
}

#body{
    scroll-behavior: smooth;
    font-family: var(--inter);
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

textarea{
    resize: none;
    user-select: none;
}
textarea::selection{
    background-color: transparent;
}